---
import Card from "@layouts/Card.astro";
---

<Card header="Altitude">
  <p id="altitude">Inconnu</p>
</Card>

<script>
    import type { Metadata, GPS } from "../types/metadata.ts";

    const degree: HTMLElement = document.getElementById("altitude") as HTMLElement;

    document.addEventListener("metadata", (event: any): void => {
        if (event.detail) {
            const metadata: Metadata = JSON.parse(event.detail);
            if (metadata?.car?.gps) {
                const gps: GPS = metadata.car.gps;
                degree.textContent = `${gps.altitude} mètres`;
            }
        }
    });
</script>
