---
import Card from "@layouts/Card.astro";
---

<Card header="Altitude">
  <p id="altitude">Inconnu</p>
</Card>

<script>
    import type { GPS } from "../types/modem.ts";

    const degree: HTMLElement = document.getElementById("altitude") as HTMLElement;

    document.addEventListener("data", (event: any): void => {
        if (event.detail?.gps) {
            const gps: GPS = event.detail.gps;
            degree.textContent = `${gps.altitude} mètres`;
        }
    });
</script>
