---
import { Icon } from "astro-icon/components";
---

<button type="button" id="fullscreen">
    <Icon name="material-symbols:fullscreen-rounded" />
    <Icon name="material-symbols:fullscreen-exit-rounded" />
</button>

<script>
    // Fetch DOM elements
    const button: HTMLElement = document.getElementById("fullscreen") as HTMLElement;
    const icons: NodeListOf<SVGSVGElement> = button.querySelectorAll("svg") as NodeListOf<SVGSVGElement>;

    // Event listener for fullscreen button
    button.addEventListener("click", (): void => {
        document.fullscreenElement ? document.exitFullscreen() : document.documentElement.requestFullscreen();
    });

    // Event listener for fullscreen change (to toggle icons)
    document.addEventListener("fullscreenchange", (): void => {
        icons[0].style.display = document.fullscreenElement ? "none" : "block";
        icons[1].style.display = document.fullscreenElement ? "block" : "none";
    });
</script>

<style>
    button {
        background-color: transparent;
        border: none;
        z-index: 10;
        position: absolute;
        top: 0;
        right: 0;
        padding: 1rem;
        color: white;
        cursor: pointer;

        svg {
            width: 36px;
            height: 36px;

            &:nth-of-type(2) {
                display: none;
            }
        }
    }
</style>

