---
import { Icon } from 'astro-icon/components';
---

<button type="button" id="fullscreen">
    <Icon name="material-symbols:fullscreen-rounded" />
    <Icon name="material-symbols:fullscreen-exit-rounded" />
</button>

<script>
    const icons: NodeListOf<HTMLElement> = document.querySelectorAll('#fullscreen svg');

    document.getElementById('fullscreen')
        .addEventListener('click', (): void => {
            if (document.fullscreenElement) {
                document.exitFullscreen();
            } else {
                document.documentElement.requestFullscreen();
            }
        });

    document.addEventListener('fullscreenchange', (): void => {
        icons[0].style.display = document.fullscreenElement ? 'none' : 'block';
        icons[1].style.display = document.fullscreenElement ? 'block' : 'none';
    });
</script>

<style>
    button {
        background-color: transparent;
        border: none;
        z-index: 1000;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1rem;
        color: white;

        svg {
            width: 36px;
            height: 36px;

            &:nth-of-type(2) {
                display: none;
            }
        }
    }
</style>

