---²
import { Icon } from 'astro-icon/components';
---

<button type="button" onclick="toggleFullscreen">
    <Icon id="maximized" name="material-symbols:fullscreen-rounded" />
    <Icon id="windowed" name="material-symbols:fullscreen-exit-rounded" />
</button>

<script>
    const maximized: HTMLElement = document.getElementById('maximized');
    const windowed: HTMLElement = document.getElementById('windowed');

    function toggleFullscreen() {
        if (document.fullscreenElement) {
            document.exitFullscreen();
        } else {
            document.documentElement.requestFullscreen();
        }
    }

    document.addEventListener('fullscreenchange', () => {
        maximized.style.display = document.fullscreenElement ? 'none' : 'block';
        windowed.style.display = document.fullscreenElement ? 'block' : 'none';
    });
</script>

<style>
    button {
        background-color: transparent;
        border: none;
        z-index: 1000;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 1rem;
        color: white;

        svg {
            width: 36px;
            height: 36px;

            &:nth-of-type(2) {
                display: none;
            }
        }
    }
</style>

