<div class="container">
  Map
</div>

<script>
    import type { GPS } from "../types/modem.ts";

    document.addEventListener("data", (event: any): void => {
        if (event.detail?.gps) {
            const gps: GPS = event.detail.gps;
            console.log(gps);
        }
    });
</script>
