<div id="mpu" class="container">
  Mpu
</div>

<script>
    import type { Sensor } from "../types/sensor.ts";

    document.addEventListener("data", (event: any): void => {
        if (event.detail?.sensor) {
            const sensor: Sensor = event.detail.sensor;
            console.log(sensor);
        }
    });
</script>
