---
import Card from "@layouts/Card.astro";
---

<Card header="Réseau">
  <p><span id="network">Inconnu</span> <span id="signal"></span></p>
</Card>

<script>
    import type { Network, Signal } from "../types/modem.ts";

    const network: HTMLElement = document.getElementById("network") as HTMLElement;
    const signal: HTMLElement = document.getElementById("signal") as HTMLElement;

    document.addEventListener("data", (event: any): void => {
        if (event.detail?.network) {
            const data: Network = event.detail.network;
            network.textContent = data.type;
        }

        if (event.detail?.signal) {
            const data: Signal = event.detail.signal;
            signal.textContent = `(${data.strength})`;
        }
    });
</script>
