<section>
	<button type="button">
		Lancer le direct
	</button>
</section>

<script>
	const button: HTMLElement = document.querySelector('button');
	button.addEventListener('click', (): void => {
		console.log('Lancement du direct')
	});
</script>

<style>
	section	{
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		button {
			padding: 1.4rem 2.4rem;
			backdrop-filter: blur(4px);
			background-color: rgba(0, 0, 0, 0.5);
			color: #fff;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 1.2em;

			&:hover {
				background-color: rgba(0, 0, 0, 0.7);
				outline: 1px solid white;
			}
		}
	}
</style>
