<p id="speed">
  0 Km/h
</p>

<script>
    import { State } from "../types/state.ts";
    import type { Metadata, GPS } from "../types/metadata.ts";

    const speed: HTMLElement = document.getElementById("speed") as HTMLElement;

    document.addEventListener("status", (event: any): void => {
        speed.style.opacity = event.detail === State.CONNECTED ? "1" : "0";
    });

    document.addEventListener("metadata", (event: any): void => {
        if (event.detail) {
            const metadata: Metadata = JSON.parse(event.detail);
            if (metadata?.car?.gps) {
                const gps: GPS = metadata.car.gps;
                speed.innerText = `${gps.speed} Km/h`;
            }
        }
    });
</script>

<style>
    p {
        font-size: 2.2rem;
        color: white;
        font-weight: bold;
        transition: opacity 0.3s linear;
        opacity: 0;
    }
</style>
