<p id="speed">
  -- Km/h
</p>

<script>
    import type { Car, Metadata } from "../types/metadata.ts";
import { State } from "../types/state.ts";

    // Fetch DOM element
    const speed: HTMLElement = document.getElementById("speed") as HTMLElement;

    // Event listener for status
    document.addEventListener("status", (event: any): void => {
        speed.style.opacity = event.detail === State.CONNECTED ? '1' : '0';
    });

    // Event listener for metadata (to display speed)
    document.addEventListener("metadata", (event: any): void => {
        if (event.detail) {
            const metadata: Metadata = JSON.parse(event.detail);
            if (metadata?.car) {
                const car: Car = metadata.car;
                speed.innerText = `${car.speed} Km/h`;
            }
        }
    });
</script>

<style>
    p {
        font-size: 2.2rem;
        color: white;
        font-weight: bold;
        transition: opacity 0.3s linear;
        opacity: 0;
    }
</style>
