<div id="state" class="container">
  State
</div>

<script>
    import type { Network, Signal } from "../types/modem.ts";

    document.addEventListener("data", (event: any): void => {
        if (event.detail?.network || event.detail?.signal) {
            const data: Network | Signal = event.detail?.network || event.detail?.signal;
            console.log(data);
        }
    });
</script>
