---
import { Network, Signal } from "@types/modem.ts";
---

<div id="state" class="container">
  State
</div>

<script>
	document.addEventListener("data", (event: CustomEvent): void => {
		if (event.detail?.network || event.detail?.signal) {
			const data: Network | Signal = event.detail?.network || event.detail?.signal
			console.log(data);
		}
	});
</script>
