<div id="status" class="container">
	<p>Déconnecté</p>
	<p></p>
</div>

<script>
	const container: HTMLElement = document.getElementById("status");
	const title: HTMLElement = container.querySelector('p')[0];
	const subTitle: HTMLElement = container.querySelector('p')[1];
</script>

<style>
	div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		p:first-child {
			font-size: 1.2em;
			font-weight: bold;
		}
	}
</style>
