---
import Card from "@layouts/Card.astro";
---

<Card header="Température">
  <p id="degree">Inconnu</p>
</Card>

<script>
    import type { Sensor } from "../types/sensor.ts";

    const degree: HTMLElement = document.getElementById("degree") as HTMLElement;

    document.addEventListener("data", (event: any): void => {
        if (event.detail?.sensor) {
            const sensor: Sensor = event.detail.sensor;
            degree.textContent = `${sensor.temp}°C`;
        }
    });
</script>
