---
import { pwaInfo } from 'virtual:pwa-info';
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>RaceCast</title>
		<meta
			content="Interface d'affichage des données de la voiture de course."
			name="description"
		/>
		<script src="/src/pwa.ts"></script>
		{ pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		font-synthesis: none;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		-webkit-text-size-adjust: 100%;
		background-color: #242424;
	}

	.container {
		background-color: #f0f0f0;
		border-radius: 6px;
		padding: 10px;
	}
</style>
