---
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="fr">
	<head>
        <SEO
            title="RaceCast"
            description="Flux en direct de la voiture de course de Kevin CORBIER."
            charset="UTF-8"
            openGraph={{
                basic: {
                    title: "Caméra embarquée de Kevin CORBIER",
                    type: "website",
                    image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
                },
                optional: {
                    siteName: "RaceCast",
                    locale: "fr_FR",
                },
            }}
            twitter={{
                card: "summary_large_image",
                site: "https://minarox.fr",
                creator: "@Minarox_",
                title: "RaceCast",
                description: "Flux en direct de la voiture de course de Kevin CORBIER.",
                image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png"
            }}
            extend={{
                link: [
                    { rel: "icon", type: "image/svg+xml", href: "/favicon.svg" }
                ],
                meta: [
                    { name: "theme-color", content: "#242424" },
                    { name: "generator", content: Astro.generator },
                    { name: "viewport", content: "width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" }
                ]
            }}
        />
	</head>

	<body>
		<slot />
	</body>

	<script
		is:inline
		src="https://stats.minarox.fr/data.js"
		data-ackee-server="https://stats.minarox.fr"
		data-ackee-domain-id="50857e64-dd4c-41c6-a339-051ec2284e60"
	/>
</html>

<style is:global>
	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	html {
		font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		font-synthesis: none;
		-moz-osx-font-smoothing: grayscale;
		text-rendering: optimizeLegibility;
		-webkit-text-size-adjust: 100%;
		background-color: #242424;
	}

	.container {
		background-color: #f0f0f0;
		border-radius: 6px;
		padding: 10px;
	}
</style>
