<aside>
  <section>
    <slot name="header" />
  </section>
  <section>
    <slot name="component-left" />
    <slot name="component-right" />
  </section>
</aside>

<script>

</script>

<style>
    aside {
        pointer-events: none;
        margin: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 320px;
        display: grid;
        grid-template-rows: max-content 1fr;
        grid-gap: 0.8rem;

        > section {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            gap: 1rem;

            &:last-child {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                gap: 1rem;
                overflow-x: auto;

                > *:first-child {
                    pointer-events: auto;
                    width: 462px;
                    border-radius: 6px;
                    overflow: hidden;
                }

                > *:last-child {
                    pointer-events: auto;
                    height: 100%;
                    aspect-ratio: 1/1;
                    border-radius: 6px;
                }
            }
        }

        @media (max-width: 768px) {
            position: unset;
            margin: unset;
            height: unset;

            > section:first-child {
                padding-top: 1rem;
                justify-content: center;
            }

            > section:last-child {
                flex-flow: column nowrap;

                > *:first-child {
                    width: 100%;
                    border-radius: 0;
                }

                > *:last-child {
                    width: 100%;
                    height: unset;
                    aspect-ratio: 2/1;
                    border-radius: 0;
                    flex: 1;
            }
        }
    }
</style>
